Below is an instruction that describes a task, paired with an input that provides further context. 
Write a response that appropriately completes the request.


### Instruction:
{% if instruction %}{{instruction}}
{% endif %}

### Input:
{% if world_info %}{{world_info}}
{% endif %}
{% if auto_world_info %}{{auto_world_info}}
{% endif %}
{% if summary %}{{summary}}
{% endif %}
{% if history %}{{history}}
{% endif %}
{% if user_prompt %}{{user_prompt}}
{% endif %}

### Response: