{% if world_info %}{{world_info}}
{% endif %}
{% if auto_world_info %}{{auto_world_info}}
{% endif %}
{% if summary %}{{summary}}
{% endif %}
{% if history %}{{history}}
{% endif %}
{% if user_prompt %}{{user_prompt}}
{% endif %}
{% if instruction %}{{instruction}}
{% endif %}