INSTRUCTION: {% if instruction %}{{instruction}}
{% endif %}
WORLD_INFO: {% if world_info %}{{world_info}}
{% endif %}
AUTO_WORLD_INFO: {% if auto_world_info %}{{auto_world_info}}
{% endif %}
SUMMARY: {% if summary %}{{summary}}
{% endif %}
HISTORY: {% if history %}{{history}}
{% endif %}
USER_PROMPT: {% if user_prompt %}{{user_prompt}}
{% endif %}