WI: {% if world_info %}{{world_info}}{% endif %}
SUMMARY: {% if summary %}{{summary}}{% endif %}
USER_PROMPT: {% if user_prompt %}{{user_prompt}}{% endif %}
INSTRUCTION: {% if instruction %}{{instruction}}{% endif %}